.dashboard {
  padding: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  grid-auto-rows: 4px;
  gap: 0;
}

.widget {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.widget h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: inherit; /* Inherit color from parent widget style */
}

.widget p {
  font-size: 1rem;
  color: inherit; /* Inherit color from parent widget style */
}